body{
    background-color: #AEFEFF;
}
.profile {
border-radius: 50%;
width: 7rem;
}
h1 {
text-align: center;
text-decoration: underline;
}
.achieved{
  list-style-type: square;
}
a{
  font-size: 1.5rem;
  line-height: 1.5;
  text-decoration: none;
  display: block;
}